
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    width: 100%;
    height: 100%;
    background-color:  hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.container-qr{
    width: 90%;
    max-width: 380px;
    padding: 15px;

    border-radius: 5%;
    background-color: hsl(0, 0%, 100%);
}

.container-qr img{
    width: 100%;
    border-radius: 5%;
}

.container-qr h3{
    text-align: justify;
    padding: 0 15px;
    color: hsl(218, 44%, 22%);
}

.container-qr p{
    color: hsl(216, 15%, 48%);
    text-align: justify;
    padding: 10px;
}
 